<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Dispositivo</title>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="row layout">
		<div class="col-lg-2 layout-left">
			<!--/*/ <th:block th:include="fragments/layout-left :: layout-left"></th:block> /*/-->
		</div>
		
		<div class="col-lg-8 layout-rigth">
			<div class="col-lg-12">
				<nav aria-label="breadcrumb"  class = "nav_breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="navv" th:href="@{/sso}">Inicio</a></li>
						<li class="breadcrumb-item active"><a class="navv" th:href="@{/sso/dispositivos}">Dispositivos</a></li>
						<li class="breadcrumb-item active" aria-current="page">
							<span th:if="${dispositivo.stateDevice != null}" th:text="${dispositivo.stateDevice}"></span>
							<span th:if="${dispositivo.stateDevice == null}">Nuevo Dispositivo</span>
			
						</li>
					</ol>
				</nav>
			</div>
			
			<div th:fragment="listadispositivosinclude">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12 layout-title">
							<h3>DATOS DEL DISPOSITIVOS</h3>
							<hr/>
						</div>
					</div>
					<div class="col-lg-12">
						<div>
							
							 <form class="form-horizontal" th:object="${dispositivo}" th:action="@{/sso/dispositivo}" method="post">
					            <input type="hidden" th:field="*{id}"/>
					            
						          <div class = "row">
						          
							          <div class="form-group col-lg-4">
								            <label class="control-label">Serial del dispositivo:</label>
							           		<div >
								                <input type="text" class="form-control" th:field="*{serialDevice}" 
								                 maxlength="30" required="required"/>
								            </div>
								      </div>
								      
								      <div class="form-group col-lg-4" >
								         <label class="control-label">IP:</label> 
								      	 <div >
								            <input type="text" class="form-control" th:field="*{ipFTP}" minlength="8"
								             maxlength="30" required="required"/>
								         </div>
								      </div>
								      					       
							       	 <div class="form-group col-lg-4 cedula">
							            <label class=" control-label">Puerto:</label>
							         		
							         	<div >
							         		<input type="text" pattern="[0-9]{1,}" class="form-control" th:field="*{portFTP}"
							         		 maxlength="5" title="Ej: 2121"  required="required" />         
									             
							         	</div>    
								     	   
							          </div>
    
						         </div>
						         <div class = "row">
						         
						          	<div class="form-group col-lg-4" >
								         <label class="control-label">Usuario de Conexi&oacute;n:</label>
								          
								      	 <div >
								            <input type="text" class="form-control" th:field="*{userFTP}" minlength="4"
								             maxlength="15" title="El usuario debe contener 4 o m&aacute;s caracteres" required="required"/>
								         </div>
								      </div>
								     <div class="form-group col-lg-4" >
								         <label class="control-label">Contrase&ntilde;a de Conexi&oacute;n:</label>
								          
								      	 <div >
								            <input type="text" class="form-control" th:field="*{passFTP}" minlength="4"
								             maxlength="15" title="Contraseña muy corta debe poseer m&aacute;s de 4 digitos" 
								             required="required"/>
								         </div>
								      </div>
								      
								      <div class="form-group col-lg-4">
						                <label class="control-label">Estado:</label>
						                <div >
						                    <select class="selectpicker show-menu-arrow habitado" th:field="*{stateDevice}" required="required">
											  <option value = "1">Activado</option>
											  <option value = "0">Desactivado</option>
											</select>
									
						           		 </div>
						            </div>
						         
						         </div>  
					         
						        <div class= "row">
									
	
									<div class="form-group col-lg-4">
						              <label class="control-label">Nombre de Comunidad:</label>
									  <div>
						                   <select class="selectpicker show-menu-arrow comunidades" th:field="*{comunityEntity.id}" required="required" >
						                  	  <option value="">Seleccione Comunidad</option>
											  <option th:each="comunidad : ${comunidades}"  th:value ="${comunidad.id}" th:utext="${comunidad.nameComunity}">
											  </option>
											</select>
						                </div>
						            </div>
							           	
						  		     <br/>
						            
						
						         </div>
							
							
						         <div class="row">
						            <div class="col-lg-12">
						                <button type="submit" class="btn btn-default center-block">Guardar</button>
						            </div>
						         </div>
					         
					        </form>
						
						</div>
					</div>
						
				</div>
			</div>
		</div>
	</div>

</body>
</html>
