<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<header th:fragment="headerlogin">
    <!--  <nav class="navbar navbar-expand-lg navbar-light header">
        <div class="col-lg-12 text-center">
            <img width="200" th:src="@{/images/logo.png}"/>
        </div>
    </nav>-->
    
  <div class="container">
    <div style="height: 30vh">
        <div class="flex-center flex-column">
            <img src="../../static/images/disca.jpg" width="320" th:src="@{/images/disca.jpg}"/>
        </div>
    </div>
    </div>
    
</header>
</body>
</html> 