<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<div class="modal"><!-- Place at bottom of page --></div>
<div th:fragment="layout-left">
    <ul class="nav flex-column">
        <li class="nav-item nav-item-title text-center">MENU</li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/comunidades}">COMUNIDADES</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/propietarios}">PROPIETARIOS</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/propiedades}">PROPIEDAD </a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/vehiculos}">VEHICULO</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/historicos}">HISTORIAL DE ACCESO</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/dispositivos}">DISPOSITIVOS</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/sincronizaciones}">SINCRONIZACION</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/usuarios}">USUARIOS</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/cargar/usuarios}">CARGAR USUARIOS</a>
        </li>
        <li class="nav-item black">
            <a class="nav-link" th:href="@{/sso/planificador}">PLANIFICADOR DE TAREA</a>
        </li>
    </ul>
</div>
</body>
</html>
