<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Gestión de Contraseña</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/headerlogin :: headerlogin"></th:block> /*/-->
<div th:if="${accion == 'olvido' }" class="row layout" style="width: 400px; margin: 0 auto;">
    <div class="uk-vertical-align-middle">
        <form class="form-horizontal" th:object="${userSso}" th:action="@{/password/recuperar}" method="post">
            <div class="row titleForm">
                <p>Administrar Contraseña</p>
            </div>
			<div class="row bodyForm">
				<div class="form-group col-lg-12">
					<div>
						<input type="text" class="form-control" th:field="*{username}"
							required="required" placeholder="Ingrese su nombre de Usuario" />
					</div>
				</div>
				<div class="form-group col-lg-12">
					<div class="form-group col-lg-12">
						<button type="submit" class="btn-login center-block">Enviar</button>
					</div>
				</div>
			</div>
		</form>
    </div>
</div>

<div th:if="${accion == 'recuperar' }" class="row layout" style="width: 400px; margin: 0 auto;">
    <div class="uk-vertical-align-middle">
        <form class="form-horizontal formValidator" th:object="${userSso}" th:action="@{/password/nueva}" method="post" data-toggle="validator">
            <input type="hidden" th:value="${userSso.id}" th:field="*{id}" />
            <div class="row titleForm">
                <p>Cambio de Contraseña</p>
            </div>
            <div class="row bodyForm">
                <div class="form-group col-lg-12">
                    <label class="control-label">Nueva Contraseña:</label>
                    <div>
                        <input id="inputPassword" type="password" class="form-control" th:field="*{password}" required="required" />
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="control-label">Confirmaci&oacute;n:</label>
                    <div>
                        <input id="inputPasswordConfirm" type="password" class="form-control" data-match="#inputPassword" data-match-error="Whoops, these don't match" required="required" />
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn-login center-block">Guardar Contraseña</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div th:if="${accion == 'envioToken' }" class="row layout" style="width: 400px; margin: 0 auto;">
    <div class="uk-vertical-align-middle">
        <div class="row titleForm">
            <p>Informaci&oacute;n</p>
        </div>
        <div class="row bodyForm">
            <div class="form-group col-lg-12">
                <p style="text-align: center">
                    Dir&iacute;jase a su correo electrónico y verífique el nuevo mensaje de cambio de contraseña en donde le indicara el paso a seguir para restablecerla.
                </p>
            </div>
            <div class="form-group col-lg-12">
                <a th:href="@{/login}" class="btn-login center-block">
                    Aceptar
                </a>
            </div>
        </div>
    </div>
</div>

<div th:if="${accion == 'cambioPassword' }" class="row layout" style="width: 400px; margin: 0 auto;">
    <div class="uk-vertical-align-middle">
        <div class="row titleForm">
            <p>Recuperar Contraseña</p>
        </div>
        <div class="row bodyForm">
            <div class="form-group col-lg-12">
                <p>
                    Su contraseña fue actualizada exitosamente.
                </p>
            </div>
            <div class="form-group col-lg-12">
                <a th:href="@{/login}" class="btn-login center-block">
                    Volver al Login
                </a>
            </div>
        </div>
    </div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>