<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Editar Rol - Módulo SSO STF</title>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="row layout">
		<div class="col-lg-2 layout-left">
			<!--/*/ <th:block th:include="fragments/layout-left :: layout-left"></th:block> /*/-->
		</div>
		<div class="col-lg-8 layout-rigth">
			<div class="col-lg-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/sso}">Home</a></li>
						<li class="breadcrumb-item"><a th:href="@{/sso/aplicaciones}">Aplicaciones</a></li>
						<li class="breadcrumb-item"><a
							th:href="@{/sso/aplicacion/} + ${rol.aplicationClient.id+'/ver'}">
								<span class="" th:text="${rol.aplicationClient.clientId}"></span>
						</a></li>
						<li class="breadcrumb-item active" aria-current="page"><span
							th:text="${'Editar: '+rol.name}"></span></li>
					</ol>
				</nav>
			</div>
			<div class="col-lg-12">
				<div class="row">
				<div class="row">
					<div class="col-lg-12">
						<form class="form-horizontal" th:object="${rol}"
							th:action="@{/sso/aplicacion/rol/guardar}" method="post">
							<input type="hidden" th:field="*{aplicationClient.id}" />
							<input type="hidden" th:field="*{id}" />
							<!--<label class="control-label" th:value="${mensaje}"></label>-->
							<div class="row">
								<div class="form-group col-lg-12">
									<h3>DATOS DEL ROL</h3>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6">
									<label class="control-label">Nombre:</label>
									<input type="text" maxlength="50"
										class="form-control" th:field="*{name}"
										placeholder="Nombre Rol" required="required" />
								</div>
								<div class="form-group col-lg-4">
		                        	<label class="control-label">Tipo Rol:</label> 
		                        		<select class="selectpicker form-control"
											data-width="50%" data-live-search="true" th:field="*{type}">
											<option value="-1">Seleccione Tipo</option>
											<option th:each="tipo : ${tiporoles}" th:value="${tipo}"
												th:utext="${tipo}" />
										</select>
								</div>
								<div class="form-group col-lg-2">
									<div class="checkbox">
										<label> <input type="checkbox" th:field="*{enabled}" />
											Activo
										</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-12">
									<button type="submit" class="btn btn-default center-block">Guardar
										Rol</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>
