<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Datos de la Comunidad</title>

<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="row layout">
		<div class="col-lg-2 layout-left">
			<!--/*/ <th:block th:include="fragments/layout-left :: layout-left"></th:block> /*/-->
		</div>
		<div class="col-lg-8 layout-rigth">
			<div class="col-lg-12">
				<nav aria-label="breadcrumb"  class = "nav_breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/sso}">Inicio</a></li>
						<li class="breadcrumb-item"><a th:href="@{/sso/vehiculos}">Vehiculos</a></li>
						<li class="breadcrumb-item active" aria-current="page"><span th:text="${vehiculo.lecenseplateVehicle}"></span></li>
					</ol>
				</nav>
			</div>
			
			<div th:fragment="propietarioshow">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12 layout-title">
							<h3>DATOS DEL VEHICULO</h3>
							<hr/>
						</div>
						
						<div  class="col-lg-12" >
						     <form class="form-horizontal">
						     
						     	<div class = "row">
							     	<div class="form-group col-lg-4">
						                <label class="control-label">Nombre del Propietario:</label>
						                <span  class="form-control" th:text="${vehiculo.ownerEntity.nameOwner}"  disabled="disabled"></span>
						                
						            </div>
						            
						            <div class="form-group col-lg-4">
						                <label class="control-label">Marca</label>
						                <span  class="form-control" th:text="${vehiculo.makeVehicle}"  disabled="disabled"></span>
						                
						            </div>
						            <div class="form-group col-lg-4">
						                <label class="control-label">Modelo</label>
						                <span class="form-control" th:text="${vehiculo.modelVehicle}"  disabled="disabled"></span>
						                
						            </div>
						     	
						     	</div>
						     	
						     	<div class= "row">
						     	
							     	<div class="form-group col-lg-4">
						                <label class="control-label">Color:</label>
						                <span class="form-control" th:text="${vehiculo.colourVehicle}"  disabled="disabled "></span>
						                
						            </div>
						            <div class="form-group col-lg-4">
						                <label class="control-label">Año:</label>
						                <span class="form-control" th:text="${vehiculo.LongVehicle}"  disabled="disabled "></span>
						                
						            </div>
						            <div class="form-group col-lg-4">
						                <label class="control-label">Numero de Placa:</label>
						                <span class="form-control" th:text="${vehiculo.lecenseplateVehicle}"  disabled="disabled "></span>
						                
						            </div>
						     	
						     	</div>

					            
					            
					            </form>
   
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="row text-center">
					<a href="#" class="btn btn-default" th:href="@{/sso/vehiculos}" role="button">Aceptar</a>
				</div>
			</div>
		   </div>
		</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>
</html>