<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Datos de Acceso</title>
<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>>
<body>

 <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

   
	<div class="row layout">
		<div class="col-lg-2 layout-left">
			<!--/*/ <th:block th:include="fragments/layout-left :: layout-left"></th:block> /*/-->
		</div>
		<div class="col-lg-8 layout-rigth">
			<div class="col-lg-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/sso}">Inicio</a></li>
						<li class="breadcrumb-item"><a th:href="@{/sso/historicos}">Historicos</a></li>
						<li class="breadcrumb-item active" aria-current="page">
							<span th:if="${historial.id != null}" th:text="${historial.id}"></span>
							<span th:if="${historial.id == null}">Nuevo Acceso</span>
			
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-sm-12 layout-title">
						<h3>DATOS DE ACCESO</h3>
					</div>
				</div>
				<div class="col-lg-12">
					<div>
					<form class="form-horizontal" th:object="${historial}" th:action="@{/sso/historial}" method="post">
			            <input type="hidden" th:field="*{id}"/>
			            
			            <div class ="row">	
				            <div class="form-group col-lg-4">
				                <label class="control-label">Nombre de Propietario:</label>
				                <div  >
				                   <select class="selectpicker show-menu-arrow" th:field="*{ownerEntity.id}" required="required" >
				                  	  <option value="">Seleccione Propietario</option>
									  <option th:each="propietario : ${propietarios}"  th:value ="${propietario.id}" 
									  th:utext="${propietario.nameOwner} +' ' + ${propietario.lastNameOwner} ">
									  </option>
									</select>
				                </div>
				            </div>
				            <div class="form-group col-lg-4">
				                <label class="control-label">Fecha:</label>
				                <div>
				                    <input type="text" class="form-control" th:field="*{date}"/>
				                </div>
				            </div>
				            <div class="form-group col-lg-4">
				                <label class="control-label">Hora:</label>
				                <div >
				                    <input type="text" class="form-control" th:field="*{hour}"/>
				                </div>
				            </div>
			            
	
			            </div>
			            
			            
			            <div class ="row">
			            	<div class="form-group col-lg-4">
				                <label class="control-label">Tipo de acceso:</label>
				                <div >
				                    <input type="text" class="form-control" th:field="*{typeaccess}"/>
				                </div>
				            </div>
				            <div class="form-group col-lg-4">
				                <label class="control-label">Tipo de seguridad:</label>
				                <div >
				                    <input type="text" class="form-control" th:field="*{typesecurity}"/>
				                </div>
				            </div>
			            </div>
			            

			            <div class="row">
				            <div class="col-lg-12">
				                <button type="submit" class="btn btn-default center-block">Guardar</button>
				            </div>
				        </div>
			        </form>
				
				</div>
			</div>
		</div>
	</div>
</div>

<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>
